<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      
          Create a Form with the following Controls and Validators
          <br>
          1) Project Name (should not be empty)
          <br>
          2) Mail (should not be a empty and a valid email)
          <br>
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          <br>
          4) Submit Button
          <br>

          Add your own Validator which doesn't allow "Test" as a Project Name
          <br>
          Also implement that Validator as an async Validator (replace the other one)
          <br>
          Upon submitting the form, simply print the value to the console
    
    </div>
  </div>
</div>

<h1>The Form</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
            <div formGroupName="formData">
              <div class="form-group">
                <label for="projectName">ProjectName</label>
                <input type="text"
                       id="projectName"
                       class="form-control"
                       formControlName="projectName"
                >
                <span 
                      class="help-block"
                      *ngIf="!reactiveForm.get('formData.projectName').valid && reactiveForm.get('formData.projectName').touched "
                      >Please, enter a valid ProjectName!!</span>
              </div>
              <div class="form-group">
                <label for="mail">Mail</label>
                <input type="text"
                       id="mail"
                       class="form-control"
                       formControlName="mail"
                >
                <span 
                class="help-block"
                *ngIf="!reactiveForm.get('formData.mail').valid && reactiveForm.get('formData.mail').touched "
                >Please, enter a valid Mail!!</span>
              </div>
            </div>

            <div class="form-group">
              <label for="status">Select the Status</label>
              <select class="form-control">
                  <option value="stable">Stable</option>
                  <option value="critical">Critial</option>
                  <option value="finished">Finished</option>
              </select>
            </div>
            <button class="btn btn-primary"> Submit </button>
        </form>
    </div>
  </div>
</div>